* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-principal: #4e4848;
    --color-second: #e6e6e6;
}

.patterns {
    height: 4.5rem;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section { 
    display: flex;
    justify-content: start;
}

.container__home {
    flex: 1;
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: space-between;
}

.img__profile {
    flex:1;
}

.about__me {
    flex: 2;
}

.img {
    width: 200px;
    height: 200px;
    background-image: url('/assets/img/minha\ foto.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.title__pricipal {
    font-size: 65px;
    font-weight: bold;
    color: #4e4848;
}

.logo__techs, .social__media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56%;
    margin: 10px 0;
}

.logo img {
    width: 35px;
}

.txt__small {
    margin-top: 50px;
    line-height: 30px;
    font-weight: 700;
    color: #4e4848;
}


section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.txt__title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: #4e4848;
    
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.cards {
    width: 100%;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    margin-right: 10px;
    background-color: #f5f5f5;
    flex-wrap: nowrap;
    transition: all ease 0.2s;
} 

.cards:hover {
    transform: scale(1.2);
}

.cards__img {
    width: 100%;
    background-color: #FFF;
    height: 150px;
}

.cards__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cards__info {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--color-principal);
}

.card__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__tech {
    font-size: 14px;
}

.cards__bnt {
    margin-top: 20px;
}

.cards__bnt a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    background-color: #d3d0d0;
    border-radius: 5px;
    color: black;
    transition: all ease 0.2s;
}

footer {
    margin-top: 20px;
}